.section {
  height: 2000px;
  width: 90%;
  margin: 0 auto;
  border-bottom: 2px solid #ffff;

  .h1 {
    height: 10%;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-bottom: 50px;

    h1 {
      color: #ffff;
      font-size: 35px;
      font-family: "Poppins";
      font-weight: bold;
    }
  }
}

.container {
  width: 100%;
  height: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.containerLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  height: 25%;
  gap: 20px;
  margin-bottom: 50px;
  border: 2px solid #fff;

  .containerImagem {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 50%;

    img {
      display: flex;
      align-items: center;
      justify-content: center;
      object-fit: cover;
      width: 90%;
      height: 100%;
      margin: 0 auto;
    }
  }

  .containerDescription {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 50%;
  }
  .containerTitle {
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    h1 {
      align-items: center;
      justify-content: center;
      display: flex;
      width: 100%;
      color: #ff6464;
      font-family: "Poppins";
      margin-bottom: 10px;
      font-size: 30px;
      font-weight: 800;
    }
    h2 {
      color: #cbc6c6;
      font-family: "Poppins";

      font-size: 22px;
      font-weight: 500;
    }
  }
  .tech {
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
    display: flex;

    img {
      margin-right: 10px;
      height: 35px;
      width: 35px;
      object-fit: contain;
      display: flex;
      align-items: center;
    }
  }
  .linkSite {
    width: 100%;
    height: 25%;
    align-items: center;
    justify-content: center;
    display: flex;

    button {
      width: 150px;
      height: 50px;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: row-reverse;
      background-color: #ff6464;
      border: none;
      border-radius: 30px;
      margin: 0px 10px;
      color: #fff;
      font-size: 16px;

      &:hover {
        border: px solid #fff;
        transform: scale(1.1);
        transition: 0.6s;
      }
    }
    img {
      height: 30px;
      width: 30px;
      object-fit: contain;
      display: flex;
      align-items: center;
      margin-right: 10px;
    }
  }
}
.containerRigth {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  height: 25%;
  gap: 20px;
  margin-bottom: 50px;
  flex-direction: row-reverse;
  border: 2px solid #fff;

  .containerImagem {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 50%;

    img {
      display: flex;
      align-items: center;
      justify-content: center;
      object-fit: cover;
      width: 90%;
      height: 100%;
      margin: 0 auto;
    }
  }

  .containerDescription {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 50%;
  }
  .containerTitle {
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    h1 {
      align-items: center;
      justify-content: center;
      display: flex;
      width: 100%;
      color: #ff6464;
      font-family: "Poppins";
      margin-bottom: 10px;
      font-size: 30px;
      font-weight: 800;
    }
    h2 {
      color: #cbc6c6;
      font-family: "Poppins";

      font-size: 22px;
      font-weight: 500;
    }
  }
  .tech {
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
    display: flex;

    img {
      margin-right: 10px;
      height: 35px;
      width: 35px;
      object-fit: contain;
      display: flex;
      align-items: center;
    }
  }
  .linkSite {
    width: 100%;
    height: 25%;
    align-items: center;
    justify-content: center;
    display: flex;

    button {
      width: 150px;
      height: 50px;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: row-reverse;
      background-color: #ff6464;
      border: none;
      border-radius: 30px;
      margin: 0px 10px;
      color: #fff;
      font-size: 16px;

      &:hover {
        border: px solid #fff;
        transform: scale(1.1);
        transition: 0.6s;
      }
    }
    img {
      height: 30px;
      width: 30px;
      object-fit: contain;
      display: flex;
      align-items: center;
      margin-right: 10px;
    }
  }
}

@media (max-width: 1000px) {
  .section {
    height: 3200px;

    .h1 {
      height: 5%;
    }
  }
  .container {
    height: 90%;

    .containerRigth {
      width: 80%;
      flex-direction: column;
      height: 25%;
      .containerImagem {
        width: 100%;
        height: 40%;
        img {
          width: 65%;
        }
      }
      .containerDescription {
        height: 60%;
        width: 100%;
        h1 {
          text-align: center;
          width: 100%;
          font-size: 25px;
        }
        h2 {
          text-align: center;
          font-size: 16px;
        }
      }
      .linkSite {
        button {
          font-size: 14px;
          margin: 0px 5px;

          img {
            width: 25px;
            margin-right: 5px;
          }
        }
      }
    }
    .containerLeft {
      width: 80%;
      flex-direction: column;
      height: 25%;
      .containerImagem {
        width: 100%;
        height: 40%;
        img {
          width: 65%;
        }
      }
      .containerDescription {
        height: 60%;
        width: 100%;
        h1 {
          text-align: center;
          width: 100%;
          font-size: 25px;
        }
        h2 {
          text-align: center;
          font-size: 16px;
        }
      }
      .linkSite {
        button {
          font-size: 14px;
          margin: 0px 5px;

          img {
            width: 25px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
